body {
  font-family: "Poppins", sans-serif;
  color: #383838;
  line-height: normal;
  padding: 0 30px;
}

div {
  display: inline-block;
  text-align: center;
}

h1 {
  font-weight: normal;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 100px;
}
