*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #151515;
  background-color: map-get($map: $background-colors, $key: "grey");
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
