@import "_resets.scss", "_mixins.scss";

// Mobile first

/////////////////////////////////////////
// Container
/////////////////////////////////////////
.container {
  margin: 0 auto;
  padding: 0 15px;

  @include desktop {
    width: 1024px;
  }
}

/////////////////////////////////////////
// Header
/////////////////////////////////////////
.header {
  @include flexWrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  @include desktop {
    margin-bottom: 2rem;
  }

  &__div {
    width: 100%;
    height: 80px;
    background-color: orange;

    @include desktop {
      width: calc((100% - 1rem) / 2);
      height: 100px;
    }
  }
}

/////////////////////////////////////////
// Main
/////////////////////////////////////////
.main {
  @include flexWrap;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @include desktop {
    margin-bottom: 2rem;
  }

  &__div {
    width: 100%;
    height: 300px;
    background-color: blue;

    @include tablet {
      height: 100px;
    }

    @include desktop {
      width: calc((100% - 2rem) / 3);
      height: 200px;
    }
  }

  &__div:first-child {
    height: 100px;
    margin-bottom: 0.5rem;
    background-color: lightgreen;

    @include tablet {
      height: 300px;
    }

    @include desktop {
      width: 100%;
      height: 400px;
    }
  }
}

/////////////////////////////////////////
// Footer
/////////////////////////////////////////
.footer {
  @include flexWrap;
  margin-bottom: 1rem;

  @include tablet {
    gap: 1rem;
  }

  &__div {
    width: 100%;
    height: 20px;
    background-color: lightgray;

    @include tablet {
      width: calc((100% - 1rem) / 2);
      height: 80px;
    }

    @include desktop {
      width: calc((100% - 3rem) / 4);
      height: 100px;
    }
  }
}
