@import "_resets.scss", "_mixins.scss";

// Mobile first

/////////////////////////////////////////
// Mobile
/////////////////////////////////////////
.container {
  margin: 0 auto;
  padding: 10px 25px;
}

.header {
  @include flexWrap;
  gap: 1rem;

  &__div {
    width: 100%;
    height: 80px;
    background-color: orange;
  }
}

.main {
  @include flexWrap;
  gap: 1rem;

  &__div {
    width: 100%;
    height: 300px;
    background-color: blue;
  }

  &__div-1 {
    height: 100px;
    margin-bottom: 10px;
    background-color: lightgreen;
  }
}

.footer {
  @include flexWrap;

  &__div {
    width: 100%;
    height: 20px;
    background-color: lightgray;
  }
}

/////////////////////////////////////////
// Tablet
/////////////////////////////////////////
@media screen and (min-width: 768px) {
  .main {
    &__div {
      height: 100px;
    }

    &__div-1 {
      height: 300px;
    }
  }

  .footer {
    gap: 1rem;

    &__div {
      width: calc((100% - 1rem) / 2);
      height: 80px;
    }
  }
}

/////////////////////////////////////////
// Desktop
/////////////////////////////////////////
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }

  .header {
    margin-bottom: 1rem;

    &__div {
      width: calc((100% - 1rem) / 2);
      height: 100px;
    }
  }

  .main {
    margin-bottom: 1rem;

    &__div {
      width: calc((100% - 2rem) / 3);
      height: 200px;
    }

    &__div-1 {
      width: 100%;
      height: 400px;
    }
  }

  .footer {
    margin-bottom: 1rem;

    &__div {
      width: calc((100% - 3rem) / 4);
      height: 100px;
    }
  }
}
