$font-colors: (
  "black": #080f1a,
  "grey": #73829e,
  "light-grey": #c4ccdc,
);

$background-colors: (
  "grey": #f4f6fc,
  "white": #ffffff,
);

$button-color-blue: #303ca5;

$font-size: (
  "small": 0.85em,
  "medium": 1em,
  "large": 2em,
);

$shadow-color-grey: #c4ccdc;
